@import "lib.less";

#background_layer {
background-image:url(../images/bg-first_layer_inner.jpg);
background-repeat:repeat-x;
background-color:#eeeeee;
background-position:top;

	#site_inner_wrapper {

		#sidebar, #sidebar_right {
		width:235px;
		min-height:600px;
		margin:30px 0 0 0;
		padding:0 0 30px 0;
		float:left;
		background-image:url(../images/bg-sidebar.png);
		background-repeat:no-repeat;
		
			ul {
			
				li {
				list-style:none;
				width:220px;

					a {
					display:block;
					padding:10px 0 10px 30px;
					text-decoration:none;
					font-size:14px;
					border-bottom:1px solid #dddddd;
					border-top:1px solid #f5f5f5;
					width:170px;
					background-image:url(../images/icon-one_column.png);
					background-repeat:no-repeat;
					background-position:5px 10px;	

						&:hover {
						text-decoration:underline;
						}
						
					}
					
				}
				
				li.one_column a {
				background-image:url(../images/icon-one_column.png);
				}
				
				li.two_column a {
				background-image:url(../images/icon-two_column.png);
				}
				
				li.three_column a {
				background-image:url(../images/icon-three_column.png);
				}
				
				li.users a {
				background-image:url(../images/icon-users.png);
				}
				
				li.testimonials a {
				background-image:url(../images/icon-testimonials.png);
				}
				
				li.faq a {
				background-image:url(../images/icon-faq.png);
				}
				
				li.tables a {
				background-image:url(../images/icon-table.png);
				}
				
				li.first a {
				border-top:none;
				}
				
				li.last a {
				border-bottom:none;
				}
				
				li.active {
				background-image:url(../images/bg-sidebar_menu_active.png);
				background-repeat:no-repeat;
				
					a {
					color:#eeeeee;
					border:none;
					}
					
				}
				
			}
			
			.box {
			margin:30px 0 0 0;
			
				h3 {
				.border_radius(3px 3px 0 0);
				background-color:#222222;
				font-size:12px;
				.secondary_font();
				color:#eeeeee;
				padding:3px 5px 3px 10px;
				width:165px;
				text-transform:uppercase;
				}
				
				p {
				width:158px;
				font-size:12px;
				padding:10px;
				color:#444444;
				.border_radius(0 0 3px 3px);
				border:1px solid #cccccc;
				border-top:none;
				.gradient (#dddddd,#eeeeee);	

					img {
					float:left;
					padding:5px 10px 5px 0;
					}
					
				}
			
			}
			
		}
		
		#sidebar_right {
		width:180px;
		background:none;
		margin:0 0 0 30px;
		
			.box {
			
				h3 {
				width:185px;
				}
				
				p {
				width:178px;
				}
				
			}
			
		}
		
		#one_column_content, #two_column_content, #three_column_content {
		width:930px;
		float:left;
		margin:30px 0 0 0;
		padding:0 15px 40px 15px;
		
			h2, h3, h4 {
			.secondary_font();	
			font-weight:normal;
			font-size:24px;
			color:#333333;	
			padding:0 0 20px 0;
			}
			
			h3 {
			font-size:20px;
			}
			
			h4 {
			font-size:18px;
			}
			
			ul {
			font-size:12px;
			color:#444444;
			padding:0 0 20px 30px;
			
				li {
				padding:2px 0 2px 0;
				}
				
			}
				
			p.intro {
			font-size:18px;
			color:#666666;
			}
			
			p {
			font-size:13px;
			color:#555555;
			padding:0 0 20px 0;
			
				img {
				.border_radius(5px);
				}
				
				img.left_align {
				float:left;
				margin:3px 15px 10px 0;
				}
				
				img.right_align {
				float:right;
				margin:3px 0 10px 15px;
				}
	
			}
			
			.team_member_item {
			clear:both;
			padding:10px 0 20px 0;
			overflow:hidden;
			height:100%;
			
				h3 {
				.primary_font();
				color:#555555;
				background-image:url(../images/bg-header_line_team_members.gif);
				background-repeat:repeat-x;
				background-position:0 10px;
			
					em {
					font-size:16px;
					.tertiary_font();
					color:#999999;
					display:block;
					float:right;
					background-color:#eeeeee;
					padding:0 0 0 10px;
					}
					
					span {
					background-color:#eeeeee;
					padding:0 10px 0 0;
					}
					
				}
				
				.img_wrapper {
				margin:0 20px 0 0;
				.border_radius(5px);
				padding:7px;
				background-color:#ffffff;
				border:1px solid #dddddd;
				float:left;
				overflow:hidden;
				height:100%;

					img {
					.border_radius(3px);
					float:left;
					}
				
				}
				
			}
			
			.testimonial_item {
			clear:both;
			padding:30px 0 15px 0;
			overflow:hidden;
			height:100%;
			
			
				h3 {
				font-size:22px;
				font-style:italic;
				.tertiary_font();
				padding:0 0 10px 0;
				color:#666666;
				}
				
				p {
				font-style:italic;
				.tertiary_font();
				color:#777777;
				overflow:hidden;
				height:100%;
				
					img {
					.border_radius (5px);
					float:left;
					margin:3px 10px 10px 0;
					}
					
					strong {
					font-style:normal;
					.primary_font();
					color:#666666;
					display:block;
					padding:10px 0 0 0;
					float:right;
					margin:0;
					}
					
				}
				
			}
			
			.faq_section {
			padding:0 0 15px 0;
			border-bottom:1px dotted #cccccc;
			margin:15px 0 0 0;
			
				img {
				float:left;
				margin:10px 20px 5px 10px;
				}
					
				h3 {
				.primary_font();
				padding:0 0 10px 0;
				font-weight:bold;
				margin:0;
				font-size:16px;
				color:#555555;
				}
				
				p {
				font-size:12px;
				color:#777777;
				padding:0 0 10px 0;
				overflow:auto;
				height:100%;
				}
			
				ul {
				padding:0;
				margin:0;
				
					li {
					cursor:pointer;
					list-style:none;
					font-size:13px;
					color:#2076a4;
					padding:5px 0 5px 0;
					
						p {
						display:none;
						margin:10px 0 0 10px;
						padding:0 0 0 5px;
						border-left:3px solid #cccccc;
						color:#444444;
						}
					
					}
					
				}
				
			}
			
			.table_wrapper {
			overflow:auto;
			height:100%;
			padding:0 0 30px 0;
			
				table.generic, table.comparison {
				
					thead {
					font-size:11px;
					.secondary_font();
					color:#eeeeee;
					text-transform:uppercase;
					
						tr {
						clear:both;
						
							td {
							padding:10px 15px 10px 15px;
							text-align:center;
							background-color:#444444;
							border-left:1px solid #333333;
							}
							
							td.first {
							.border_radius(3px 0 0 0);
							border-left:none;
							}
							
							td.last {
							.border_radius(0 3px 0 0);
							}
						
						}
											
					}
					
					tbody {
					font-size:11px;
					color:#666666;
					
						tr {
						clear:both;
						
							td {
							padding:5px 0 5px 0;
							text-align:center;
							background-color:#e5e5e5;
							border-left:1px solid #cccccc;
							border-bottom:1px solid #cccccc;
							}
							
							td.last {
							border-right:1px solid #cccccc;
							}
						
						}
						
						tr.odd {
							
							td {
							background-color:#eeeeee;
							}
							
						}
						
						tr.last {
						
							td {
							border-bottom:none;
							}
							
						}
											
					}
					
					tfoot {
					font-size:11px;
					.secondary_font();
					color:#888888;
					
						tr {
						clear:both;
						
							td {
							padding:3px 0 3px 0;
							text-align:center;
							background-color:#eeeeee;
							border:1px solid #cccccc;
							.border_radius(0 0 3px 3px);
							}
						
						}
							
					}
					
				}
				
				table.comparison {
				
					tbody {
					color:#3271a2;
					
						tr {
						
							td {
							padding:30px 10px 20px 10px;
							background-color:#ffffff;
							border-left:1px solid #cccccc;
							border-bottom:1px solid #cccccc;
							
								h4 {
								.primary_font();
								font-size:14px;
								font-weight:bold;
								padding:20px 0 5px 0;
								color:#555555;
								border-bottom:1px solid #dddddd;
								}
								
								ul {
								text-align:left;
								font-size:11px;
								color:#666666;
								padding:10px 0 20px 20px;
								height:80px;
								overflow:hidden;
								
									li {
									padding:0;
									}
									
								}
								
								p.price {
								.secondary_font();
								.text_shadow(0 0 5px #aaaaaa);
								font-size:40px;
								font-weight:bold;
								padding:0 0 15px 0;
								}
								
								button {
								font-size:11px;
								.secondary_font();
								font-weight:bold;
								color:#ffffff;
								text-transform:uppercase;
								background-color:#ff6c00;
								.gradient(#ff6c00,#ff4800);
								padding:5px 10px 5px 10px;
								.border_radius(15px);
								cursor:pointer;
								}
								
							}
							
							td.first {
							background-color:#f5f5f5;
							.border_radius(0 0 0 3px);
							}
							
							td.last {
							background-color:#f5f5f5;
							.border_radius(0 0 3px 0);
							}
						
						}
						
					}
					
				}
			
			}
			
		}
		
		#two_column_content {
		width:695px;
		float:left;
		margin:30px 0 0 0;
		padding:0 0 40px 0;		
		}
		
		#three_column_content {
		width:495px;
		float:left;
		margin:30px 0 0 0;
		padding:0 0 40px 0;	
		}
	
	}
	
}
