/* The absolute path to PIE.htc */
.behavior(){
behavior: url("http://www.snappyseed.com/subpixel/scripts/PIE.htc");
}

.ie6_png_fix(){
-pie-png-fix: true;
.behavior();
}

.border_radius (@radius: 5px) {
border-radius:@radius;
-moz-border-radius:@radius;
-webkit-border-radius:@radius;
-o-border-radius:@radius;
.behavior();
}

.text_shadow (@val: 1px 1px 1px #000000) {
-moz-text-shadow:@val;
-webkit-text-shadow:@val;
text-shadow:@val;
}

.gradient (@from: #000000, @to: #555555) {
background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
background: -moz-linear-gradient(top, @from, @to);
background: -o-linear-gradient(top, @from, @to);
-pie-background: linear-gradient(@from, @to);
.behavior();
}

.box_shadow (@val: 0 0 10px #000000) {
-moz-box-shadow:@val;
-webkit-box-shadow:@val;
box-shadow:@val;
.behavior();
}

.primary_font() {
font-family:Arial,Helvetica,sans-serif;
}

.secondary_font() {
font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
}

.tertiary_font() {
font-family:Georgia, 'Times New Roman', serif;
}

body, ul, ul li, img, h1, h2, h3, h4, form, p, fieldset, button, blockquote, :focus {
padding:0;
margin:0;
border:0;
.primary_font();
outline:none;
}

body {
background-color:#eeeeee;
}

a {
color:#2076a4;
}

#popup_overlay {
position:absolute;
display:none;
background-color: rgba(255,255,255,.75);
-pie-background: rgba(255,255,255,.75);
z-index:9998;
.behavior();
}

#login_popup {
display:none;
position:absolute;
padding:50px 30px 50px 30px;
font-size:18px;
color:#444444;
z-index:9999;
.box_shadow (0 0 10px #000000);
.border_radius(15px);
background-color:#ffffff;
text-align:center;
}
	#login_popup #close_button {
	cursor:pointer;
	color:#aa0000;
	}


#background_layer {
	background-image:url(../images/bg-first_layer.jpg);
	background-repeat:repeat-x;
	background-color:#eeeeee;
}
	#site_inner_wrapper, #portfolio_wrapper, #member_registration_wrapper {
		padding:20px 0 0 0;
	}
		#header_wrapper {
			background-color: rgba(255,255,255,0.3);
			-pie-background: rgba(255,255,255,0.3);
			behavior: url(http://www.legend.rs/css/PIE.htc);
			.border_radius(5px 5px 0 0);
			height:108px;
			overflow:hidden;
			height:100%;
			clear:both;
		}
			#header_wrapper h1 {
				padding:20px 0 0 20px;
				font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;	
				font-weight:normal;
				font-size:30px;
				color:#444444;	
				.text_shadow (1px 1px 1px #f5f5f5);
				border-top:1px solid #dddddd;
			}
		
			#header_wrapper p {
				font-weight:normal;
				font-size:12px;
				color:#555555;
				padding:0 20px 20px 20px;
				.text_shadow (1px 1px 1px #f5f5f5);
			}
	
	#site_wrapper, #site_content_wrapper, #blog_wrapper {
		width:960px;
		margin:auto;
		position:relative;
	}
			#header #top_bar {
				height:70px;
				margin:auto;
				position:relative;
			}
				#header #top_bar img {
					padding:8px 0 0 0;
					float:left;
					color:#ff3c00;
					.secondary_font();
					font-size:36px;
					.text_shadow (1px 1px 1px #ffffff);
					position:absolute;
				}
				
				form#header_search_form {
					float:right;
					padding:20px 0 0 0;
				}
					form#header_search_form input#input_field {
						color:#999999;
						border:0;
						padding:0 10px 0 10px;
						margin:0;
						height:26px;
						line-height:26px;
						width:200px;
						float:left;
						border-top:1px solid #d0d0d0;
						border-bottom:1px solid #d0d0d0;
						border-left:1px solid #d0d0d0;
						.border_radius (3px 0 0 3px);
						vertical-align:middle;
					}
					
					form#header_search_form input#submit_field {
						float:left;
					}
					
			#mainmenu_wrapper {
				clear:both;
				height:60px;
				background-color:#222222;
				.gradient(#111111,#222222);
				overflow:hidden;
				.border_radius (3px);
				margin:auto;
				width:960px;
			}
				#mainmenu_wrapper ul#mainmenu {
					float:left;
				}
					#mainmenu_wrapper li {
						float:left;
						list-style:none;
						padding:0;
					}
						#mainmenu_wrapper li a.mainmenu_item_link {
							float:left;
							display:block;
							color:#999999;
							font-size:11px;
							text-decoration:none;
							text-align:center;
							height:47px;
							padding:13px 20px 0 20px;
						}
							#mainmenu_wrapper li a.mainmenu_item_link strong {
							display:block;
							font-size:16px;
							font-weight:normal;
							color:#eeeeee;
							}
							
							#mainmenu_wrapper li a.mainmenu_item_link :hover, a.hoverstate {
								color:#777777;
							}

								#mainmenu_wrapper li a.mainmenu_item_link :hover strong, #mainmenu_wrapper li a.hoverstate strong {
									color:#bbbbbb;
								}
						
						#mainmenu_wrapper li a.hoverstate {
							color:#777777;
						}
				
							#mainmenu_wrapper li a.hoverstate strong {
								color:#bbbbbb;
							}
							
						
						#mainmenu_wrapper li ul {
						position:absolute;
						color:#ffffff;
						font-size:12px;
						display:none;
						z-index:3;
						clear:both;
						top:0px;
						width:200px;
						padding:10px;
						margin:125px 0 0 3px;
						.gradient (#ffffff,#eeeeee); 
						.border_radius (2px);
						.box_shadow (0 0 3px #888888);
						background:rgb(255,255,255);
						background:rgba(255,255,255,.95);
}
							#mainmenu_wrapper li ul li {
							display:block;
							margin:0;	
							color:#999999;
							text-decoration:none;
							clear:both;
							float:none;
}
								#mainmenu_wrapper li ul li a {
								display:block;
								color:#444444;
								padding:5px 0 5px 13px;
								.border_radius (3px);
								text-decoration:none;
								font-size:13px;
								border-bottom:1px dotted #cccccc;
								background-image:url(../images/arrow-mainmenu_active.gif);
								background-repeat:no-repeat;
								background-position:5px 10px;
							}
									#mainmenu_wrapper li ul li a:hover {
									color:#2076a4;
									background-image:url(../images/arrow-mainmenu.gif);
									}
								
	
			#login_box {
			float:right;
			font-size:11px;
			}
				#login_box a {
				display:block;
				color:#999999;
				text-decoration:none;
				height:47px;
				background-image:url(../images/icon-login.png);
				background-position:0 21px;
				background-repeat:no-repeat;
				width:80px;
				padding:13px 0 0 26px;
}	
					#login_box a:hover {
					color:#777777;
}
						#login_box a:hover strong {
						color:#bbbbbb;
						}	
					
					#login_box a strong {
					font-weight:normal;
					font-size:16px;
					display:block;
					color:#eeeeee;
					}

		#carousel_slider_wrapper {
		margin:auto;
		display:block;
		margin:30px 0 0 0;
		padding:10px 0 30px 0;
		position:relative;
		overflow:hidden;
		}
		#carousel_slider_container {
		width:960px;
		margin:auto;
		}

			#carousel_prev, #carousel_next {
			float:left;
			width:29px;
			height:53px;
			font-size:38px;
			font-weight:bold;
			background-color:#f5f5f5;
			border-left:1px solid #cccccc;
			text-align:center;
			.border_radius (3px 0 0 3px);
			margin:120px 0 0 0;
			color:#999999;
			.text_shadow (1px 1px 1px #ffffff);
			cursor:pointer;
}
				#carousel_prev:hover , #carousel_next:hover {
				background-color:#f9f9f9;
				color:#777777;
				}
				
			
			#carousel_next {
			.border_radius (0 3px 3px 0);
			border-left:none;
			border-right:1px solid #cccccc;
			}

			#carousel_slider_background {
			float:left;
			width:880px;
			height:300px;
			background-color:#ffffff;
			overflow:hidden;
			.border_radius (3px);
			.box_shadow (0 0 10px #aaaaaa);
			position:relative;
			z-index:2;
			padding:0 0 0 20px;
			}

			ul#carousel_slider {
			width:900px;
			height:300px;
			padding:0;
			margin:0;
			float:left;
			display:block;
}
			
				ul#carousel_slider li {
				height:260px;
				width:860px;
				display:block;
				padding:20px 0 0 0;
				}
				
				ul#carousel_slider li div {
				background-image:url(../images/banner-1.jpg);
				height:260px;
				width:860px;
				padding:0;
				.border_radius (3px);
}
					ul#carousel_slider li div p {
					margin:0;
					padding:20px;
					background:rgb(0,0,0);
					background:rgba(0,0,0,.75);
					color:#dddddd;
					font-size:13px;
					width:280px;
					height:220px;			
					.border_radius (3px 0 0 3px);
					}
					
				
				ul#carousel_slider li.slide_02 div {
				background-image:url(../images/banner-2.jpg);
				}
				
				ul#carousel_slider li.slide_03 div {
				background-image:url(../images/banner-3.jpg);
				}	
				
		#site_content_wrapper {
		.border_radius (3px 3px 0 0);
}
			
			#site_content_wrapper h1 {
			.secondary_font();	
			font-weight:normal;
			font-size:26px;
			color:#444444;
			padding:0 0 20px 10px;
			background-image:url(../images/bg-header_line.gif);
			background-repeat:repeat-x;
			background-position:0 15px;
			.text_shadow (1px 1px 1px #ffffff);
}
				#site_content_wrapper h1 span {
				background-color:#eeeeee;
				padding:0 10px 0 5px;
				}
				
			#home_first_row {
				display:block;
				overflow:hidden;
				clear:both;
			}
				#home_first_row .column {
				overflow:hidden;
				width:318px;
				float:left;
				border-left:1px dashed #aaaaaa;
				border-right:1px dashed #ffffff;
}	
					#home_first_row .column h2 {
					font-size:16px;
					font-weight:normal;
					color:#555555;
					padding:0 0 10px 29px;
					.secondary_font();
					background-image:url(../images/bullet.png);
					background-repeat:no-repeat;
					background-position:12px 4px;					
					}
					
					#home_first_row .column img {
					padding:10px;
					border:1px solid #dddddd;
					background-color:#ffffff;
					margin:0 0 0 15px;
					}
					
					#home_first_row .column p {
					font-size:12px;
					color:#444444;
					margin:10px 0 0 0;
					padding:0 25px 0 25px;
}
						#home_first_row .column p a {
						text-decoration:none;
						color:#2076a4;
}
							#home_first_row .column p a:hover {
							text-decoration:underline;
							}
					
					#home_first_row .column a.button {
					.border_radius (2px);
					padding:3px 7px 3px 7px;
					margin:10px 0 0 25px;
					border:1px solid #dcdcdc;
					background-color:#efefef;
					.gradient (#ffffff,#efefef);
					display:block;
					float:left;
					.secondary_font();
					color:#aaaaaa;
					font-size:10px;
					font-weight:bold;
					text-decoration:none;
					text-transform:uppercase;
					position:relative;
}
						#home_first_row .column a.button:hover {
						color:#888888;
						}
			
			#home_second_row {
			overflow:hidden;
			clear:both;
			height:100%;
			margin:30px 0 0 0;
			padding:30px 0 30px 0;
			border-top:1px solid #cccccc;
			}
					
				#home_second_row .testimonial {
				padding:0 0 25px 15px;
				overflow:hidden;
				clear:both;
				height:100%;
}
					#home_second_row .testimonial img {
					.border_radius (5px);
					float:left;
					margin:0 20px 0 0;
					position:relative;
					}
					
					#home_second_row .testimonial p {
					.tertiary_font();
					font-style:italic;
					font-size:12px;
					color:#777777;
					.border_radius (5px);
}
						#home_second_row .testimonial p strong {
						display:block;
						padding:5px 0 0 0;
						}
				
				#home_second_row a.testimonial_more {
				clear:both;
				.secondary_font();
				color:#0e7fc7;
				font-size:10px;
				font-weight:bold;
				text-decoration:none;
				text-transform:uppercase;
				margin:0 0 0 10px;
				padding:2px 5px 2px 5px;
}
					#home_second_row a.testimonial_more:hover {
					background-color:#dddddd;
					.border_radius (5px);
					}
					
				
				#home_second_row #frontpage_list, #home_second_row #frontpage_article_list {
					font-size:11px;
				}
					#home_second_row #frontpage_list h3, #home_second_row #frontpage_article_list h3{
					text-transform:uppercase;
					padding:0 0 10px 33px;
					font-size:12px;
					color:#666666;
					}
				
					#home_second_row #frontpage_list ul, #home_second_row #frontpage_article_list ul{
					color:#666666;
					margin:0 0 0 35px;
}
						#home_second_row #frontpage_list ul li, #home_second_row #frontpage_article_list ul li{
						background-image: url(../images/arrow-list_bullet.gif);
						background-position:0 10px;
						background-repeat:no-repeat;
						list-style:none;
						padding:5px 0 5px 13px;
						border-bottom:1px solid #dddddd;
						}
					
					#home_second_row #frontpage_article_list h3 {
					padding:0 0 0 23px;
					}
					
					#home_second_row #frontpage_article_list ul {
					color:#666666;
					margin:0 15px 0 25px;
}
						#home_second_row #frontpage_article_list ul li {
						list-style:none;
						padding:5px 0 5px 13px;
						border-bottom:none;
						margin:10px 0 0 0;
						}						
							#home_second_row #frontpage_article_list ul li a {
							display:block;
							padding:0 0 3px 0;
							color:#0e7fc7;
							text-decoration:none;
}
								#home_second_row #frontpage_article_list ul li a:hover {
								text-decoration:underline;
								}
			
			#home_third_row {
			overflow:hidden;
			height:100%;
			padding:20px 0 20px 0;
			border:10px solid #dddddd;
			background-color:#fafafa;
			.border_radius (5px);
}

				#home_third_row .column {
				width:235px;
				float:left;
				overflow:hidden;
				display:block;
				height:100%;
}
					#home_third_row .column h2 {
					font-size:13px;
					font-weight:normal;
					color:#555555;
					margin:0 15px 0 15px;
					padding:0 0 5px 0;
					border-bottom:1px solid #eeeeee;
					}

					#home_third_row .column p {
					font-size:11px;
					color:#555555;
					padding:10px 15px 0 15px;
}
						#home_third_row .column p img.icons {
						float:left;
						padding:5px 15px 0 0;
						}
						
					#home_third_row .column a {
					.border_radius (10px);
					padding:2px 0 2px 0;
					.secondary_font();
					color:#0e7fc7;
					font-size:10px;
					font-weight:bold;
					text-decoration:none;
					text-transform:uppercase;
}
						#home_third_row .column a:hover {
						text-decoration:underline;
						}				
						
.column_50 {
	width:50%;
	float:left;
	overflow:hidden;
	height:100%;
}

#footer {
	clear:both;
	margin:50px 0 0 0;
	overflow:hidden;
	height:100%;
	background-color:#151515;
	border-top:5px solid #aaaaaa;
}	
	#footer #footer_content {
		clear:both;	
		width:960px;
		margin:auto;
		overflow:hidden;
		height:100%;
	}

		#footer #footer_content #left_column {
			width:700px;
			float:left;
			padding:30px 0 0 0;
	}
			#footer #footer_content #left_column h4 {
			font-size:11px;
			text-transform:uppercase;
			color:#999999;
			padding:4px 10px 4px 10px;
			margin:0 20px 0 0;
			background-color:#222222;
			.border_radius(10px);
			}
			
			#footer #footer_content #left_column ul {
			padding:5px 0 0 0;
			font-size:11px;
			color:#777777;
}
				#footer #footer_content #left_column ul li {
				list-style:none;
				padding:5px 20px 5px 10px;
}
					#footer #footer_content #left_column ul li strong {
					color:#888888;
					}
					
					#footer #footer_content #left_column ul li a {
					color:#777777;
					text-decoration:none;
}
						#footer #footer_content #left_column ul li a:hover {
						color:#ffffff;
						}

		
		#right_column {
		width:260px;
		float:left;
}
			#right_column #twitter {
			padding:30px 0 0 0;
}
				#right_column #twitter img {
				padding:0 0 0 5px;
				}
				
				#right_column #twitter ul {
				font-size:11px;
				color:#888888;
}
					#right_column #twitter ul li {
					list-style:none;
					border-bottom:1px dotted #444444;
					padding:10px 5px 10px 5px;
}
						#right_column #twitter ul li a {
						color:#bbbbbb;
						text-decoration:none;
						}
							#right_column #twitter ul li a:hover {
							color:#ffffff;
							}
							
	#footer_copyright {
	width:960px;
	margin:auto;
	font-size:10px;
	color:#666666;
	padding:50px 0 20px 0;
	text-align:center;
}
		#footer_copyright a {
		text-decoration:none;
		color:#888888;
}
			#footer_copyright a:hover {
			color:#ffffff;
			}
			

form#generic_form, form#member_form {
border-top:1px dashed #ffffff;
margin:0 30px 0 0;
clear:both;
overflow:auto;
height:100%;
display:block;
}
	form#generic_form fieldset, form#member_form fieldset {
	border:1px dotted #d0d0d0;
	width:750px;
	background-color:#e9e9e9;
	height:100%;
	padding:20px 0 20px 0;
	margin:30px 0 10px 0;
	display:block;
	clear:both;
	.border_radius(3px);
}
		form#generic_form fieldset legend, form#member_form fieldset legend {
		.text_shadow(1px 1px 1px #ffffff);
		padding:5px 10px 5px 10px;
		margin:0 0 0 10px;
		font-size:14px;
		font-weight:bold;
		color:#666666;
		background-color:#eeeeee;
		.border_radius(15px);
		border:1px solid #d0d0d0;
		}
		
	form#generic_form fieldset.blog, form#member_form fieldset.blog {
	width:720px;
	}
	
	form#generic_form fieldset.blog label, form#member_form fieldset.blog label {
	width:220px;
	}

	label {
	clear:both;
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	width:250px;
	padding:7px 10px 0 0;
	text-align:right;
	float:left;
	
		label em {
		color:#ff0000;
		font-style:normal;
		font-weight:normal;
		}
		
	}
	
	input.text_input, textarea {
	float:left;
	width:448px;
	margin:0;
	border:1px solid #dddddd;
	padding:5px 10px 5px 10px;
	background-color:#f5f5f5;
	color:#777777;
	.border_radius(3px);
	}
	
	input.medium {
	width:220px;
	}
	
	input.short {
	width:70px;
	}
	
	textarea {
	height:200px;
	font-family:Arial,Helvetica,sans-serif;	
	}
	
	textarea.small {
	width:200px;
	height:100px;
	}
	
	input.submit_button {
	clear:both;
	.secondary_font();
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	.border_radius(3px);
	padding:10px 15px 10px 15px;
	background-color:#f5f5f5;
	border:1px solid #dddddd;	
	text-transform:uppercase;		
	color:#444444;
	cursor:pointer;
	float:right;
	.gradient (#ffffff,#eeeeee);
	margin:10px 20px 0 0;
	}
	
	input.checkbox_input {
	margin:8px 300px 0 6px;
	padding:0;
	line-height:1;
	float:left;
	height:14px;
	}
	
	input.radio_input {
	line-height:1;
	float:left;
	clear:both;
	margin:0;
	padding:0;
	height:14px;	
	}
	
	select {
	margin:4px 0 0 0;
	}
			
	.options_container {
	width:465px;
	font-size:12px;
	color:#666666;
	display:block;
	float:left;
}
		.options_container .option_field_container {
		clear:both;
		overflow:hidden;
		height:100%;
		padding:8px 0 8px 5px;
		margin:0 0 5px 0;
		.border_radius(5px);
		border:1px solid #dddddd;
		background-color:#e5e5e5;
		}
			.options_container .option_field_container :hover {
			background-color:#e0e0e0;
			}
		
			.options_container .option_field_container label {
			width:425px;			
			float:left;
			display:block;
			font-weight:normal;
			text-align:left;
			clear:none;
			margin:0;
			padding:0 0 0 5px;
			line-height:1;	
			overflow:hidden;
			height:100%;
			}

			.options_container .option_field_container input.checkbox_input {
			margin:0;
			padding:0;
			}
	
	.field_container {
	clear:both;
	margin:10px 0 0 0;
	padding:0;
	overflow:hidden;
	display:block;
	height:100%;
	}


form#member_form {
	clear:both;
}