@import inner.css

/* The absolute path to PIE.htc */
.behavior(){
behavior: url("http://www.snappyseed.com/subpixel/scripts/PIE.htc");
}

.ie6_png_fix(){
-pie-png-fix: true;
.behavior();
}

.border_radius (@radius: 5px) {
border-radius:@radius;
-moz-border-radius:@radius;
-webkit-border-radius:@radius;
-o-border-radius:@radius;
.behavior();
}

.text_shadow (@val: 1px 1px 1px #000000) {
-moz-text-shadow:@val;
-webkit-text-shadow:@val;
text-shadow:@val;
}

.gradient (@from: #000000, @to: #555555) {
background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
background: -moz-linear-gradient(top, @from, @to);
background: -o-linear-gradient(top, @from, @to);
-pie-background: linear-gradient(@from, @to);
.behavior();
}

.box_shadow (@val: 0 0 10px #000000) {
-moz-box-shadow:@val;
-webkit-box-shadow:@val;
box-shadow:@val;
.behavior();
}

.primary_font() {
font-family:Arial,Helvetica,sans-serif;
}

.secondary_font() {
font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
}

.tertiary_font() {
font-family:Georgia, 'Times New Roman', serif;
}

body, ul, ul li, img, h1, h2, h3, h4, form, p, fieldset, button, blockquote, *:focus {
    border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    outline: medium none;
    padding: 0;
}
body {
    background-color: #EEEEEE;
}
a {
    color: #2076A4;
}
#popup_overlay {
    background-color: rgba(255, 255, 255, 0.75);
    display: none;
    position: absolute;
    z-index: 9998;
}
#login_popup {
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px #000000;
    color: #444444;
    display: none;
    font-size: 18px;
    padding: 50px 30px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
#login_popup #close_button {
    color: #AA0000;
    cursor: pointer;
}
#background_layer {
    background-color: #EEEEEE;
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/bg-first_layer_inner.jpg");
    background-position: center top;
    background-repeat: repeat-x;
}
#background_layer #site_inner_wrapper #sidebar, #background_layer #site_inner_wrapper #sidebar_right {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/bg-sidebar.png");
    background-repeat: no-repeat;
    float: left;
    margin: 30px 0 0;
    min-height: 600px;
    padding: 0 0 30px;
    width: 235px;
}
#background_layer #site_inner_wrapper #sidebar ul li, #background_layer #site_inner_wrapper #sidebar_right ul li {
    list-style: none outside none;
    width: 220px;
}
#background_layer #site_inner_wrapper #sidebar ul li a, #background_layer #site_inner_wrapper #sidebar_right ul li a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-one_column.png");
    background-position: 5px 10px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #F5F5F5;
    display: block;
    font-size: 14px;
    padding: 10px 0 10px 30px;
    text-decoration: none;
    width: 170px;
}
#background_layer #site_inner_wrapper #sidebar ul li a:hover, #background_layer #site_inner_wrapper #sidebar_right ul li a:hover {
    text-decoration: underline;
}
#background_layer #site_inner_wrapper #sidebar ul li.one_column a, #background_layer #site_inner_wrapper #sidebar_right ul li.one_column a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-one_column.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.two_column a, #background_layer #site_inner_wrapper #sidebar_right ul li.two_column a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-two_column.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.three_column a, #background_layer #site_inner_wrapper #sidebar_right ul li.three_column a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-three_column.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.users a, #background_layer #site_inner_wrapper #sidebar_right ul li.users a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-users.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.testimonials a, #background_layer #site_inner_wrapper #sidebar_right ul li.testimonials a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-testimonials.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.faq a, #background_layer #site_inner_wrapper #sidebar_right ul li.faq a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-faq.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.tables a, #background_layer #site_inner_wrapper #sidebar_right ul li.tables a {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/icon-table.png");
}
#background_layer #site_inner_wrapper #sidebar ul li.first a, #background_layer #site_inner_wrapper #sidebar_right ul li.first a {
    border-top: medium none;
}
#background_layer #site_inner_wrapper #sidebar ul li.last a, #background_layer #site_inner_wrapper #sidebar_right ul li.last a {
    border-bottom: medium none;
}
#background_layer #site_inner_wrapper #sidebar ul li.active, #background_layer #site_inner_wrapper #sidebar_right ul li.active {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/bg-sidebar_menu_active.png");
    background-repeat: no-repeat;
}
#background_layer #site_inner_wrapper #sidebar ul li.active a, #background_layer #site_inner_wrapper #sidebar_right ul li.active a {
    border: medium none;
    color: #EEEEEE;
}
#background_layer #site_inner_wrapper #sidebar .box, #background_layer #site_inner_wrapper #sidebar_right .box {
    margin: 30px 0 0;
}
#background_layer #site_inner_wrapper #sidebar .box h3, #background_layer #site_inner_wrapper #sidebar_right .box h3 {
    background-color: #222222;
    border-radius: 3px 3px 0 0;
    color: #EEEEEE;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 3px 5px 3px 10px;
    text-transform: uppercase;
    width: 165px;
}
#background_layer #site_inner_wrapper #sidebar .box p, #background_layer #site_inner_wrapper #sidebar_right .box p {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #DDDDDD, #EEEEEE) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #444444;
    font-size: 12px;
    padding: 10px;
    width: 158px;
}
#background_layer #site_inner_wrapper #sidebar .box p img, #background_layer #site_inner_wrapper #sidebar_right .box p img {
    float: left;
    padding: 5px 10px 5px 0;
}
#background_layer #site_inner_wrapper #sidebar_right {
    background: none repeat scroll 0 0 transparent;
    margin: 0 0 0 30px;
    width: 180px;
}
#background_layer #site_inner_wrapper #sidebar_right .box h3 {
    width: 185px;
}
#background_layer #site_inner_wrapper #sidebar_right .box p {
    width: 178px;
}
#background_layer #site_inner_wrapper #one_column_content, #background_layer #site_inner_wrapper #two_column_content, #background_layer #site_inner_wrapper #three_column_content {
    float: left;
    margin: 30px 0 0;
    padding: 0 15px 40px;
    width: 930px;
}
#background_layer #site_inner_wrapper #one_column_content h2, #background_layer #site_inner_wrapper #two_column_content h2, #background_layer #site_inner_wrapper #three_column_content h2, #background_layer #site_inner_wrapper #one_column_content h3, #background_layer #site_inner_wrapper #two_column_content h3, #background_layer #site_inner_wrapper #three_column_content h3, #background_layer #site_inner_wrapper #one_column_content h4, #background_layer #site_inner_wrapper #two_column_content h4, #background_layer #site_inner_wrapper #three_column_content h4 {
    color: #333333;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 20px;
}
#background_layer #site_inner_wrapper #one_column_content h3, #background_layer #site_inner_wrapper #two_column_content h3, #background_layer #site_inner_wrapper #three_column_content h3 {
    font-size: 20px;
}
#background_layer #site_inner_wrapper #one_column_content h4, #background_layer #site_inner_wrapper #two_column_content h4, #background_layer #site_inner_wrapper #three_column_content h4 {
    font-size: 18px;
}
#background_layer #site_inner_wrapper #one_column_content ul, #background_layer #site_inner_wrapper #two_column_content ul, #background_layer #site_inner_wrapper #three_column_content ul {
    color: #444444;
    font-size: 12px;
    padding: 0 0 20px 30px;
}
#background_layer #site_inner_wrapper #one_column_content ul li, #background_layer #site_inner_wrapper #two_column_content ul li, #background_layer #site_inner_wrapper #three_column_content ul li {
    padding: 2px 0;
}
#background_layer #site_inner_wrapper #one_column_content p.intro, #background_layer #site_inner_wrapper #two_column_content p.intro, #background_layer #site_inner_wrapper #three_column_content p.intro {
    color: #666666;
    font-size: 18px;
}
#background_layer #site_inner_wrapper #one_column_content p, #background_layer #site_inner_wrapper #two_column_content p, #background_layer #site_inner_wrapper #three_column_content p {
    color: #555555;
    font-size: 13px;
    padding: 0 0 20px;
}
#background_layer #site_inner_wrapper #one_column_content p img, #background_layer #site_inner_wrapper #two_column_content p img, #background_layer #site_inner_wrapper #three_column_content p img {
    border-radius: 5px 5px 5px 5px;
}
#background_layer #site_inner_wrapper #one_column_content p img.left_align, #background_layer #site_inner_wrapper #two_column_content p img.left_align, #background_layer #site_inner_wrapper #three_column_content p img.left_align {
    float: left;
    margin: 3px 15px 10px 0;
}
#background_layer #site_inner_wrapper #one_column_content p img.right_align, #background_layer #site_inner_wrapper #two_column_content p img.right_align, #background_layer #site_inner_wrapper #three_column_content p img.right_align {
    float: right;
    margin: 3px 0 10px 15px;
}
#background_layer #site_inner_wrapper #one_column_content .team_member_item, #background_layer #site_inner_wrapper #two_column_content .team_member_item, #background_layer #site_inner_wrapper #three_column_content .team_member_item {
    clear: both;
    height: 100%;
    overflow: hidden;
    padding: 10px 0 20px;
}
#background_layer #site_inner_wrapper #one_column_content .team_member_item h3, #background_layer #site_inner_wrapper #two_column_content .team_member_item h3, #background_layer #site_inner_wrapper #three_column_content .team_member_item h3 {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/bg-header_line_team_members.gif");
    background-position: 0 10px;
    background-repeat: repeat-x;
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
}
#background_layer #site_inner_wrapper #one_column_content .team_member_item h3 em, #background_layer #site_inner_wrapper #two_column_content .team_member_item h3 em, #background_layer #site_inner_wrapper #three_column_content .team_member_item h3 em {
    background-color: #EEEEEE;
    color: #999999;
    display: block;
    float: right;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 16px;
    padding: 0 0 0 10px;
}
#background_layer #site_inner_wrapper #one_column_content .team_member_item h3 span, #background_layer #site_inner_wrapper #two_column_content .team_member_item h3 span, #background_layer #site_inner_wrapper #three_column_content .team_member_item h3 span {
    background-color: #EEEEEE;
    padding: 0 10px 0 0;
}
#background_layer #site_inner_wrapper #one_column_content .team_member_item .img_wrapper, #background_layer #site_inner_wrapper #two_column_content .team_member_item .img_wrapper, #background_layer #site_inner_wrapper #three_column_content .team_member_item .img_wrapper {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 100%;
    margin: 0 20px 0 0;
    overflow: hidden;
    padding: 7px;
}
#background_layer #site_inner_wrapper #one_column_content .team_member_item .img_wrapper img, #background_layer #site_inner_wrapper #two_column_content .team_member_item .img_wrapper img, #background_layer #site_inner_wrapper #three_column_content .team_member_item .img_wrapper img {
    border-radius: 3px 3px 3px 3px;
    float: left;
}
#background_layer #site_inner_wrapper #one_column_content .testimonial_item, #background_layer #site_inner_wrapper #two_column_content .testimonial_item, #background_layer #site_inner_wrapper #three_column_content .testimonial_item {
    clear: both;
    height: 100%;
    overflow: hidden;
    padding: 30px 0 15px;
}
#background_layer #site_inner_wrapper #one_column_content .testimonial_item h3, #background_layer #site_inner_wrapper #two_column_content .testimonial_item h3, #background_layer #site_inner_wrapper #three_column_content .testimonial_item h3 {
    color: #666666;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 22px;
    font-style: italic;
    padding: 0 0 10px;
}
#background_layer #site_inner_wrapper #one_column_content .testimonial_item p, #background_layer #site_inner_wrapper #two_column_content .testimonial_item p, #background_layer #site_inner_wrapper #three_column_content .testimonial_item p {
    color: #777777;
    font-family: Georgia,'Times New Roman',serif;
    font-style: italic;
    height: 100%;
    overflow: hidden;
}
#background_layer #site_inner_wrapper #one_column_content .testimonial_item p img, #background_layer #site_inner_wrapper #two_column_content .testimonial_item p img, #background_layer #site_inner_wrapper #three_column_content .testimonial_item p img {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 3px 10px 10px 0;
}
#background_layer #site_inner_wrapper #one_column_content .testimonial_item p strong, #background_layer #site_inner_wrapper #two_column_content .testimonial_item p strong, #background_layer #site_inner_wrapper #three_column_content .testimonial_item p strong {
    color: #666666;
    display: block;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    margin: 0;
    padding: 10px 0 0;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section, #background_layer #site_inner_wrapper #two_column_content .faq_section, #background_layer #site_inner_wrapper #three_column_content .faq_section {
    border-bottom: 1px dotted #CCCCCC;
    margin: 15px 0 0;
    padding: 0 0 15px;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section img, #background_layer #site_inner_wrapper #two_column_content .faq_section img, #background_layer #site_inner_wrapper #three_column_content .faq_section img {
    float: left;
    margin: 10px 20px 5px 10px;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section h3, #background_layer #site_inner_wrapper #two_column_content .faq_section h3, #background_layer #site_inner_wrapper #three_column_content .faq_section h3 {
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section p, #background_layer #site_inner_wrapper #two_column_content .faq_section p, #background_layer #site_inner_wrapper #three_column_content .faq_section p {
    color: #777777;
    font-size: 12px;
    height: 100%;
    overflow: auto;
    padding: 0 0 10px;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section ul, #background_layer #site_inner_wrapper #two_column_content .faq_section ul, #background_layer #site_inner_wrapper #three_column_content .faq_section ul {
    margin: 0;
    padding: 0;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section ul li, #background_layer #site_inner_wrapper #two_column_content .faq_section ul li, #background_layer #site_inner_wrapper #three_column_content .faq_section ul li {
    color: #2076A4;
    cursor: pointer;
    font-size: 13px;
    list-style: none outside none;
    padding: 5px 0;
}
#background_layer #site_inner_wrapper #one_column_content .faq_section ul li p, #background_layer #site_inner_wrapper #two_column_content .faq_section ul li p, #background_layer #site_inner_wrapper #three_column_content .faq_section ul li p {
    border-left: 3px solid #CCCCCC;
    color: #444444;
    display: none;
    margin: 10px 0 0 10px;
    padding: 0 0 0 5px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper, #background_layer #site_inner_wrapper #two_column_content .table_wrapper, #background_layer #site_inner_wrapper #three_column_content .table_wrapper {
    height: 100%;
    overflow: auto;
    padding: 0 0 30px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic thead, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic thead, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic thead, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison thead, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison thead, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison thead {
    color: #EEEEEE;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic thead tr, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic thead tr, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic thead tr, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison thead tr, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison thead tr, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison thead tr {
    clear: both;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic thead tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic thead tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic thead tr td, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison thead tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison thead tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison thead tr td {
    background-color: #444444;
    border-left: 1px solid #333333;
    padding: 10px 15px;
    text-align: center;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic thead tr td.first, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic thead tr td.first, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic thead tr td.first, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison thead tr td.first, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison thead tr td.first, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison thead tr td.first {
    border-left: medium none;
    border-radius: 3px 0 0 0;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic thead tr td.last, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic thead tr td.last, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic thead tr td.last, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison thead tr td.last, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison thead tr td.last, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison thead tr td.last {
    border-radius: 0 3px 0 0;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tbody, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tbody, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tbody, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody {
    color: #666666;
    font-size: 11px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tbody tr, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tbody tr, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tbody tr, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr {
    clear: both;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tbody tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tbody tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tbody tr td, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td {
    background-color: #E5E5E5;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 5px 0;
    text-align: center;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tbody tr td.last, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tbody tr td.last, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tbody tr td.last, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td.last, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td.last, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td.last {
    border-right: 1px solid #CCCCCC;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tbody tr.odd td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tbody tr.odd td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tbody tr.odd td, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr.odd td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr.odd td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr.odd td {
    background-color: #EEEEEE;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tbody tr.last td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tbody tr.last td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tbody tr.last td, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr.last td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr.last td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr.last td {
    border-bottom: medium none;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tfoot, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tfoot, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tfoot, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tfoot, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tfoot, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tfoot {
    color: #888888;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 11px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tfoot tr, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tfoot tr, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tfoot tr, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tfoot tr, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tfoot tr, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tfoot tr {
    clear: both;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.generic tfoot tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.generic tfoot tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.generic tfoot tr td, #background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tfoot tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tfoot tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tfoot tr td {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 3px 3px;
    padding: 3px 0;
    text-align: center;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody {
    color: #3271A2;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 30px 10px 20px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td h4, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td h4, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td h4 {
    border-bottom: 1px solid #DDDDDD;
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0 5px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td ul, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td ul, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td ul {
    color: #666666;
    font-size: 11px;
    height: 80px;
    overflow: hidden;
    padding: 10px 0 20px 20px;
    text-align: left;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td ul li, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td ul li, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td ul li {
    padding: 0;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td p.price, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td p.price, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td p.price {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 0 0 15px;
    text-shadow: 0 0 5px #AAAAAA;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td button, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td button, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td button {
    background: -moz-linear-gradient(center top , #FF6C00, #FF4800) repeat scroll 0 0 transparent;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td.first, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td.first, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td.first {
    background-color: #F5F5F5;
    border-radius: 0 0 0 3px;
}
#background_layer #site_inner_wrapper #one_column_content .table_wrapper table.comparison tbody tr td.last, #background_layer #site_inner_wrapper #two_column_content .table_wrapper table.comparison tbody tr td.last, #background_layer #site_inner_wrapper #three_column_content .table_wrapper table.comparison tbody tr td.last {
    background-color: #F5F5F5;
    border-radius: 0 0 3px 0;
}
#background_layer #site_inner_wrapper #two_column_content {
    float: left;
    margin: 30px 0 0;
    padding: 0 0 40px;
    width: 695px;
}
#background_layer #site_inner_wrapper #three_column_content {
    float: left;
    margin: 30px 0 0;
    padding: 0 0 40px;
    width: 495px;
}



/**
 * Blog Page
 */
body, ul, ul li, img, h1, h2, h3, h4, form, p, fieldset, button, blockquote, *:focus {
    border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    outline: medium none;
    padding: 0;
}
body {
    background-color: #EEEEEE;
}
a {
    color: #2076A4;
}
#popup_overlay {
    background-color: rgba(255, 255, 255, 0.75);
    display: none;
    position: absolute;
    z-index: 9998;
}
#login_popup {
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 10px #000000;
    color: #444444;
    display: none;
    font-size: 18px;
    padding: 50px 30px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
#login_popup #close_button {
    color: #AA0000;
    cursor: pointer;
}
#background_layer {
    background-image: none;
}
#background_layer #blog_wrapper {
    height: 100%;
    overflow: hidden;
    padding: 0 0 30px;
}
#background_layer #blog_wrapper #blog_content, #background_layer #blog_wrapper #blog_post, #background_layer #blog_wrapper #sidebar {
    float: left;
    height: 100%;
    width: 760px;
}
#background_layer #blog_wrapper #blog_content .blog_item, #background_layer #blog_wrapper #blog_post .blog_item, #background_layer #blog_wrapper #sidebar .blog_item, #background_layer #blog_wrapper #blog_content .blog_post_content, #background_layer #blog_wrapper #blog_post .blog_post_content, #background_layer #blog_wrapper #sidebar .blog_post_content {
    font-size: 14px;
    padding: 30px 0 0;
    width: 730px;
}
#background_layer #blog_wrapper #blog_content .blog_item h2, #background_layer #blog_wrapper #blog_post .blog_item h2, #background_layer #blog_wrapper #sidebar .blog_item h2, #background_layer #blog_wrapper #blog_content .blog_post_content h2, #background_layer #blog_wrapper #blog_post .blog_post_content h2, #background_layer #blog_wrapper #sidebar .blog_post_content h2 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 15px;
}
#background_layer #blog_wrapper #blog_content .blog_item h2 a, #background_layer #blog_wrapper #blog_post .blog_item h2 a, #background_layer #blog_wrapper #sidebar .blog_item h2 a, #background_layer #blog_wrapper #blog_content .blog_post_content h2 a, #background_layer #blog_wrapper #blog_post .blog_post_content h2 a, #background_layer #blog_wrapper #sidebar .blog_post_content h2 a {
    color: #444444;
    text-decoration: none;
}
#background_layer #blog_wrapper #blog_content .blog_item h2 a:hover, #background_layer #blog_wrapper #blog_post .blog_item h2 a:hover, #background_layer #blog_wrapper #sidebar .blog_item h2 a:hover, #background_layer #blog_wrapper #blog_content .blog_post_content h2 a:hover, #background_layer #blog_wrapper #blog_post .blog_post_content h2 a:hover, #background_layer #blog_wrapper #sidebar .blog_post_content h2 a:hover {
    color: #666666;
}
#background_layer #blog_wrapper #blog_content .blog_item .info, #background_layer #blog_wrapper #blog_post .blog_item .info, #background_layer #blog_wrapper #sidebar .blog_item .info, #background_layer #blog_wrapper #blog_content .blog_post_content .info, #background_layer #blog_wrapper #blog_post .blog_post_content .info, #background_layer #blog_wrapper #sidebar .blog_post_content .info {
    background-color: #E5E5E5;
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    color: #777777;
    font-size: 13px;
    padding: 5px 0 5px 10px;
}
#background_layer #blog_wrapper #blog_content .blog_item .info .tags, #background_layer #blog_wrapper #blog_post .blog_item .info .tags, #background_layer #blog_wrapper #sidebar .blog_item .info .tags, #background_layer #blog_wrapper #blog_content .blog_post_content .info .tags, #background_layer #blog_wrapper #blog_post .blog_post_content .info .tags, #background_layer #blog_wrapper #sidebar .blog_post_content .info .tags {
    float: right;
    padding: 0 10px 0 0;
}
#background_layer #blog_wrapper #blog_content .blog_item p, #background_layer #blog_wrapper #blog_post .blog_item p, #background_layer #blog_wrapper #sidebar .blog_item p, #background_layer #blog_wrapper #blog_content .blog_post_content p, #background_layer #blog_wrapper #blog_post .blog_post_content p, #background_layer #blog_wrapper #sidebar .blog_post_content p {
    color: #444444;
    padding: 20px 0 0;
}
#background_layer #blog_wrapper #blog_content .blog_item p img, #background_layer #blog_wrapper #blog_post .blog_item p img, #background_layer #blog_wrapper #sidebar .blog_item p img, #background_layer #blog_wrapper #blog_content .blog_post_content p img, #background_layer #blog_wrapper #blog_post .blog_post_content p img, #background_layer #blog_wrapper #sidebar .blog_post_content p img {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 5px 20px 10px 0;
}
#background_layer #blog_wrapper #blog_content .blog_item .footer, #background_layer #blog_wrapper #blog_post .blog_item .footer, #background_layer #blog_wrapper #sidebar .blog_item .footer, #background_layer #blog_wrapper #blog_content .blog_post_content .footer, #background_layer #blog_wrapper #blog_post .blog_post_content .footer, #background_layer #blog_wrapper #sidebar .blog_post_content .footer {
    border-top: 1px solid #DDDDDD;
    color: #2076A4;
    font-size: 12px;
    margin: 20px 0 0;
    padding: 5px 10px 20px 0;
}
#background_layer #blog_wrapper #blog_content ul#pagination, #background_layer #blog_wrapper #blog_post ul#pagination, #background_layer #blog_wrapper #sidebar ul#pagination {
    clear: both;
}
#background_layer #blog_wrapper #blog_content ul#pagination li, #background_layer #blog_wrapper #blog_post ul#pagination li, #background_layer #blog_wrapper #sidebar ul#pagination li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 30px 5px 0 0;
}
#background_layer #blog_wrapper #blog_content ul#pagination li a, #background_layer #blog_wrapper #blog_post ul#pagination li a, #background_layer #blog_wrapper #sidebar ul#pagination li a, #background_layer #blog_wrapper #blog_content ul#pagination li em, #background_layer #blog_wrapper #blog_post ul#pagination li em, #background_layer #blog_wrapper #sidebar ul#pagination li em {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 100%;
    overflow: hidden;
    padding: 5px 10px;
    text-decoration: none;
}
#background_layer #blog_wrapper #blog_content ul#pagination li a:hover, #background_layer #blog_wrapper #blog_post ul#pagination li a:hover, #background_layer #blog_wrapper #sidebar ul#pagination li a:hover {
    background-color: #FFFFFF;
}
#background_layer #blog_wrapper #blog_content ul#pagination li em, #background_layer #blog_wrapper #blog_post ul#pagination li em, #background_layer #blog_wrapper #sidebar ul#pagination li em {
    background-color: #FFFFFF;
    color: #666666;
    font-style: normal;
}
#background_layer #blog_wrapper #blog_post ul#pagination {
    border-top: 1px solid #DDDDDD;
    margin: 10px 0 0;
    width: 730px;
}
#background_layer #blog_wrapper #blog_post ul#pagination li {
    padding: 10px 0 0;
}
#background_layer #blog_wrapper #blog_post ul#pagination li.next {
    float: right;
    padding-right: 0;
}
#background_layer #blog_wrapper #blog_post .blog_post_content {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 30px;
}
#background_layer #blog_wrapper #blog_post .blog_post_content h3, #background_layer #blog_wrapper #blog_post .blog_post_content h4 {
    color: #333333;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0;
}
#background_layer #blog_wrapper #blog_post .blog_post_content h3 {
    color: #555555;
    font-size: 22px;
}
#background_layer #blog_wrapper #blog_post .blog_post_content h4 {
    color: #555555;
    font-size: 18px;
}
#background_layer #blog_wrapper #blog_post .blog_post_content ul {
    color: #444444;
    padding: 20px 0 0 20px;
}
#background_layer #blog_wrapper #blog_post .blog_post_content ul li {
    list-style: disc inside none;
    padding: 3px 0;
}
#background_layer #blog_wrapper #blog_post .blog_post_content blockquote p {
    background-color: #E5E5E5;
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/bg-blog_quote.png");
    background-position: -7px -7px;
    background-repeat: no-repeat;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 14px;
    font-style: italic;
    margin: 20px 20px 0;
    padding: 20px;
}
#background_layer #blog_wrapper #blog_post .blog_post_content pre {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    margin: 20px 0 0;
    overflow: auto;
    padding: 10px;
}
#background_layer #blog_wrapper #blog_post #comments h3, #background_layer #blog_wrapper #blog_post #comments h4 {
    color: #333333;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: normal;
    padding: 20px 0 0;
}
#background_layer #blog_wrapper #blog_post #comments h4 {
    color: #555555;
    font-size: 18px;
    padding: 25px 0 5px;
    width: 720px;
}
#background_layer #blog_wrapper #blog_post #comments form {
    border-top: medium none;
    padding: 10px 0 0;
}
#background_layer #blog_wrapper #blog_post #comments fieldset {
    margin: 0;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item {
    height: 100%;
    overflow: hidden;
    padding: 20px 0 0;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .content {
    background-image: url("http://www.snappyseed.com/subpixel/css/../images/bg-comment_left.gif");
    background-repeat: no-repeat;
    color: #555555;
    float: left;
    font-size: 12px;
    padding: 0 0 0 20px;
    width: 609px;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .content p {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    padding: 20px;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .info {
    float: left;
    margin: 0;
    width: 100px;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .info p {
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 0 2px;
    text-align: right;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .info p a {
    display: block;
    font-weight: bold;
    text-decoration: none;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .info p a:hover {
    text-decoration: underline;
}
#background_layer #blog_wrapper #blog_post #comments .comment_item .info p em {
    color: #777777;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
}
#background_layer #blog_wrapper #sidebar {
    width: 200px;
}
#background_layer #blog_wrapper #sidebar #datepicker {
    padding: 30px 0 0 2px;
}
#background_layer #blog_wrapper #sidebar .generic_list {
    padding: 30px 0 0;
}
#background_layer #blog_wrapper #sidebar .generic_list h4 {
    border-bottom: 3px solid #DDDDDD;
    color: #444444;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
}
#background_layer #blog_wrapper #sidebar .generic_list ul {
    font-size: 12px;
    padding: 0;
}
#background_layer #blog_wrapper #sidebar .generic_list ul li {
    border-bottom: 1px dotted #AAAAAA;
    list-style: none outside none;
}
#background_layer #blog_wrapper #sidebar .generic_list ul li a {
    display: block;
    padding: 5px 0 5px 5px;
    text-decoration: none;
}
#background_layer #blog_wrapper #sidebar .generic_list ul li a:hover {
    background-color: #E5E5E5;
}
#background_layer #blog_wrapper #sidebar .generic_list ul li a em {
    color: #888888;
    display: block;
    font-size: 10px;
    font-style: normal;
}


