/* The absolute path to PIE.htc */
body,
ul,
ul li,
img,
h1,
h2,
h3,
h4,
form,
p,
fieldset,
button,
blockquote,
:focus {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
body {
  background-color: #eeeeee;
}
a {
  color: #2076a4;
}
#popup_overlay {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.75);
  -pie-background: rgba(255, 255, 255, 0.75);
  z-index: 9998;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#login_popup {
  display: none;
  position: absolute;
  padding: 50px 30px 50px 30px;
  font-size: 18px;
  color: #444444;
  z-index: 9999;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  background-color: #ffffff;
  text-align: center;
}
#login_popup #close_button {
  cursor: pointer;
  color: #aa0000;
}
#background_layer {
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/bg-first_layer.jpg);
  background-repeat: repeat-x;
  background-color: #eeeeee;
}
#background_layer #site_inner_wrapper, #background_layer #portfolio_wrapper, #background_layer #member_registration_wrapper {
  padding: 20px 0 0 0;
}
#background_layer #site_inner_wrapper #header_wrapper, #background_layer #portfolio_wrapper #header_wrapper, #background_layer #member_registration_wrapper #header_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  -pie-background: rgba(255, 255, 255, 0.3);
  behavior: url(http://www.legend.rs/css/PIE.htc);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  height: 108px;
  overflow: hidden;
  height: 100%;
  clear: both;
}
#background_layer #site_inner_wrapper #header_wrapper h1, #background_layer #portfolio_wrapper #header_wrapper h1, #background_layer #member_registration_wrapper #header_wrapper h1 {
  padding: 20px 0 0 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #444444;
  -moz-text-shadow: 1px 1px 1px #f5f5f5;
  -webkit-text-shadow: 1px 1px 1px #f5f5f5;
  text-shadow: 1px 1px 1px #f5f5f5;
  border-top: 1px solid #dddddd;
}
#background_layer #site_inner_wrapper #header_wrapper p, #background_layer #portfolio_wrapper #header_wrapper p, #background_layer #member_registration_wrapper #header_wrapper p {
  font-weight: normal;
  font-size: 12px;
  color: #555555;
  padding: 0 20px 20px 20px;
  -moz-text-shadow: 1px 1px 1px #f5f5f5;
  -webkit-text-shadow: 1px 1px 1px #f5f5f5;
  text-shadow: 1px 1px 1px #f5f5f5;
}
#background_layer #site_wrapper, #background_layer #site_content_wrapper, #background_layer #blog_wrapper {
  width: 960px;
  margin: auto;
  position: relative;
}
#background_layer #site_wrapper #header #top_bar, #background_layer #site_content_wrapper #header #top_bar, #background_layer #blog_wrapper #header #top_bar {
  height: 70px;
  margin: auto;
  position: relative;
}
#background_layer #site_wrapper #header #top_bar img, #background_layer #site_content_wrapper #header #top_bar img, #background_layer #blog_wrapper #header #top_bar img {
  padding: 8px 0 0 0;
  float: left;
  color: #ff3c00;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 36px;
  -moz-text-shadow: 1px 1px 1px #ffffff;
  -webkit-text-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px #ffffff;
  position: absolute;
}
#background_layer #site_wrapper #header #top_bar form#header_search_form, #background_layer #site_content_wrapper #header #top_bar form#header_search_form, #background_layer #blog_wrapper #header #top_bar form#header_search_form {
  float: right;
  padding: 20px 0 0 0;
}
#background_layer #site_wrapper #header #top_bar form#header_search_form input#input_field, #background_layer #site_content_wrapper #header #top_bar form#header_search_form input#input_field, #background_layer #blog_wrapper #header #top_bar form#header_search_form input#input_field {
  color: #999999;
  border: 0;
  padding: 0 10px 0 10px;
  margin: 0;
  height: 26px;
  line-height: 26px;
  width: 200px;
  float: left;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  vertical-align: middle;
}
#background_layer #site_wrapper #header #top_bar form#header_search_form input#submit_field, #background_layer #site_content_wrapper #header #top_bar form#header_search_form input#submit_field, #background_layer #blog_wrapper #header #top_bar form#header_search_form input#submit_field {
  float: left;
}
#background_layer #site_wrapper #header #mainmenu_wrapper, #background_layer #site_content_wrapper #header #mainmenu_wrapper, #background_layer #blog_wrapper #header #mainmenu_wrapper {
  clear: both;
  height: 60px;
  background-color: #222222;
  background: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#222222));
  background: -moz-linear-gradient(top, #111111, #222222);
  background: -o-linear-gradient(top, #111111, #222222);
  -pie-background: linear-gradient(#111111, #222222);
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  margin: auto;
  width: 960px;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu {
  float: left;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li {
  float: left;
  list-style: none;
  padding: 0;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link {
  float: left;
  display: block;
  color: #999999;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  height: 47px;
  padding: 13px 20px 0 20px;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link strong, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link strong, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link strong {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #eeeeee;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link:hover,
#background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link:hover,
#background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link:hover,
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link a.hoverstate,
#background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link a.hoverstate,
#background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link a.hoverstate {
  color: #777777;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link:hover strong,
#background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link:hover strong,
#background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link:hover strong,
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link a.hoverstate strong,
#background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link a.hoverstate strong,
#background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.mainmenu_item_link a.hoverstate strong {
  color: #bbbbbb;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.hoverstate, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.hoverstate, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.hoverstate {
  color: #777777;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li a.hoverstate strong, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li a.hoverstate strong, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li a.hoverstate strong {
  color: #bbbbbb;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li ul, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li ul, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li ul {
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  display: none;
  z-index: 3;
  clear: both;
  top: 0px;
  width: 200px;
  padding: 10px;
  margin: 125px 0 0 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  -moz-box-shadow: 0 0 3px #888888;
  -webkit-box-shadow: 0 0 3px #888888;
  box-shadow: 0 0 3px #888888;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  background: #ffffff;
  background: rgba(255, 255, 255, 0.95);
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li {
  display: block;
  margin: 0;
  color: #999999;
  text-decoration: none;
  clear: both;
  float: none;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li a, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li a, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li a {
  display: block;
  color: #444444;
  padding: 5px 0 5px 13px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px dotted #cccccc;
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/arrow-mainmenu_active.gif);
  background-repeat: no-repeat;
  background-position: 5px 10px;
}
#background_layer #site_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li a:hover, #background_layer #site_content_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li a:hover, #background_layer #blog_wrapper #header #mainmenu_wrapper ul#mainmenu li ul li a:hover {
  color: #2076a4;
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/arrow-mainmenu.gif);
}
#background_layer #site_wrapper #header #login_box, #background_layer #site_content_wrapper #header #login_box, #background_layer #blog_wrapper #header #login_box {
  float: right;
  font-size: 11px;
}
#background_layer #site_wrapper #header #login_box a, #background_layer #site_content_wrapper #header #login_box a, #background_layer #blog_wrapper #header #login_box a {
  display: block;
  color: #999999;
  text-decoration: none;
  height: 47px;
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/icon-login.png);
  background-position: 0 21px;
  background-repeat: no-repeat;
  width: 80px;
  padding: 13px 0 0 26px;
}
#background_layer #site_wrapper #header #login_box a:hover, #background_layer #site_content_wrapper #header #login_box a:hover, #background_layer #blog_wrapper #header #login_box a:hover {
  color: #777777;
}
#background_layer #site_wrapper #header #login_box a:hover strong, #background_layer #site_content_wrapper #header #login_box a:hover strong, #background_layer #blog_wrapper #header #login_box a:hover strong {
  color: #bbbbbb;
}
#background_layer #site_wrapper #header #login_box a strong, #background_layer #site_content_wrapper #header #login_box a strong, #background_layer #blog_wrapper #header #login_box a strong {
  font-weight: normal;
  font-size: 16px;
  display: block;
  color: #eeeeee;
}
#background_layer #site_wrapper #carousel_slider_wrapper, #background_layer #site_content_wrapper #carousel_slider_wrapper, #background_layer #blog_wrapper #carousel_slider_wrapper {
  margin: auto;
  display: block;
  margin: 30px 0 0 0;
  padding: 10px 0 30px 0;
  position: relative;
  overflow: hidden;
}
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_slider_container, #background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_slider_container, #background_layer #blog_wrapper #carousel_slider_wrapper #carousel_slider_container {
  width: 960px;
  margin: auto;
}
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_prev,
#background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_prev,
#background_layer #blog_wrapper #carousel_slider_wrapper #carousel_prev,
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_next,
#background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_next,
#background_layer #blog_wrapper #carousel_slider_wrapper #carousel_next {
  float: left;
  width: 29px;
  height: 53px;
  font-size: 38px;
  font-weight: bold;
  background-color: #f5f5f5;
  border-left: 1px solid #cccccc;
  text-align: center;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  margin: 120px 0 0 0;
  color: #999999;
  -moz-text-shadow: 1px 1px 1px #ffffff;
  -webkit-text-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px #ffffff;
  cursor: pointer;
}
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_prev:hover,
#background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_prev:hover,
#background_layer #blog_wrapper #carousel_slider_wrapper #carousel_prev:hover,
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_next:hover,
#background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_next:hover,
#background_layer #blog_wrapper #carousel_slider_wrapper #carousel_next:hover {
  background-color: #f9f9f9;
  color: #777777;
}
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_next, #background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_next, #background_layer #blog_wrapper #carousel_slider_wrapper #carousel_next {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  border-left: none;
  border-right: 1px solid #cccccc;
}
#background_layer #site_wrapper #carousel_slider_wrapper #carousel_slider_background, #background_layer #site_content_wrapper #carousel_slider_wrapper #carousel_slider_background, #background_layer #blog_wrapper #carousel_slider_wrapper #carousel_slider_background {
  float: left;
  width: 880px;
  height: 300px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  -moz-box-shadow: 0 0 10px #aaaaaa;
  -webkit-box-shadow: 0 0 10px #aaaaaa;
  box-shadow: 0 0 10px #aaaaaa;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  position: relative;
  z-index: 2;
  padding: 0 0 0 20px;
}
#background_layer #site_wrapper #carousel_slider_wrapper ul#carousel_slider, #background_layer #site_content_wrapper #carousel_slider_wrapper ul#carousel_slider, #background_layer #blog_wrapper #carousel_slider_wrapper ul#carousel_slider {
  width: 900px;
  height: 300px;
  padding: 0;
  margin: 0;
  float: left;
  display: block;
}
#background_layer #site_wrapper #carousel_slider_wrapper ul#carousel_slider li, #background_layer #site_content_wrapper #carousel_slider_wrapper ul#carousel_slider li, #background_layer #blog_wrapper #carousel_slider_wrapper ul#carousel_slider li {
  height: 260px;
  width: 860px;
  display: block;
  padding: 20px 0 0 0;
}
#background_layer #site_wrapper #carousel_slider_wrapper ul#carousel_slider li div, #background_layer #site_content_wrapper #carousel_slider_wrapper ul#carousel_slider li div, #background_layer #blog_wrapper #carousel_slider_wrapper ul#carousel_slider li div {
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/banner-1.jpg);
  height: 260px;
  width: 860px;
  padding: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#background_layer #site_wrapper #carousel_slider_wrapper ul#carousel_slider li div p, #background_layer #site_content_wrapper #carousel_slider_wrapper ul#carousel_slider li div p, #background_layer #blog_wrapper #carousel_slider_wrapper ul#carousel_slider li div p {
  margin: 0;
  padding: 20px;
  background: #000000;
  background: rgba(0, 0, 0, 0.75);
  color: #dddddd;
  font-size: 13px;
  width: 280px;
  height: 220px;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#background_layer #site_wrapper #carousel_slider_wrapper ul#carousel_slider li.slide_02 div, #background_layer #site_content_wrapper #carousel_slider_wrapper ul#carousel_slider li.slide_02 div, #background_layer #blog_wrapper #carousel_slider_wrapper ul#carousel_slider li.slide_02 div {
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/banner-2.jpg);
}
#background_layer #site_wrapper #carousel_slider_wrapper ul#carousel_slider li.slide_03 div, #background_layer #site_content_wrapper #carousel_slider_wrapper ul#carousel_slider li.slide_03 div, #background_layer #blog_wrapper #carousel_slider_wrapper ul#carousel_slider li.slide_03 div {
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/banner-3.jpg);
}
#background_layer #site_wrapper #site_content_wrapper, #background_layer #site_content_wrapper #site_content_wrapper, #background_layer #blog_wrapper #site_content_wrapper {
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#background_layer #site_wrapper #site_content_wrapper h1, #background_layer #site_content_wrapper #site_content_wrapper h1, #background_layer #blog_wrapper #site_content_wrapper h1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  color: #444444;
  padding: 0 0 20px 10px;
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/bg-header_line.gif);
  background-repeat: repeat-x;
  background-position: 0 15px;
  -moz-text-shadow: 1px 1px 1px #ffffff;
  -webkit-text-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px #ffffff;
}
#background_layer #site_wrapper #site_content_wrapper h1 span, #background_layer #site_content_wrapper #site_content_wrapper h1 span, #background_layer #blog_wrapper #site_content_wrapper h1 span {
  background-color: #eeeeee;
  padding: 0 10px 0 5px;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row, #background_layer #blog_wrapper #site_content_wrapper #home_first_row {
  display: block;
  overflow: hidden;
  clear: both;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column {
  overflow: hidden;
  width: 318px;
  float: left;
  border-left: 1px dashed #aaaaaa;
  border-right: 1px dashed #ffffff;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column h2, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column h2, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column h2 {
  font-size: 16px;
  font-weight: normal;
  color: #555555;
  padding: 0 0 10px 29px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/bullet.png);
  background-repeat: no-repeat;
  background-position: 12px 4px;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column img, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column img, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column img {
  padding: 10px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  margin: 0 0 0 15px;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column p, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column p, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column p {
  font-size: 12px;
  color: #444444;
  margin: 10px 0 0 0;
  padding: 0 25px 0 25px;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column p a, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column p a, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column p a {
  text-decoration: none;
  color: #2076a4;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column p a:hover, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column p a:hover, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column p a:hover {
  text-decoration: underline;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column a.button, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column a.button, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column a.button {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  padding: 3px 7px 3px 7px;
  margin: 10px 0 0 25px;
  border: 1px solid #dcdcdc;
  background-color: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -o-linear-gradient(top, #ffffff, #efefef);
  -pie-background: linear-gradient(#ffffff, #efefef);
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  display: block;
  float: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
#background_layer #site_wrapper #site_content_wrapper #home_first_row .column a.button:hover, #background_layer #site_content_wrapper #site_content_wrapper #home_first_row .column a.button:hover, #background_layer #blog_wrapper #site_content_wrapper #home_first_row .column a.button:hover {
  color: #888888;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row, #background_layer #blog_wrapper #site_content_wrapper #home_second_row {
  overflow: hidden;
  clear: both;
  height: 100%;
  margin: 30px 0 0 0;
  padding: 30px 0 30px 0;
  border-top: 1px solid #cccccc;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row .testimonial, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row .testimonial, #background_layer #blog_wrapper #site_content_wrapper #home_second_row .testimonial {
  padding: 0 0 25px 15px;
  overflow: hidden;
  clear: both;
  height: 100%;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row .testimonial img, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row .testimonial img, #background_layer #blog_wrapper #site_content_wrapper #home_second_row .testimonial img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  float: left;
  margin: 0 20px 0 0;
  position: relative;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row .testimonial p, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row .testimonial p, #background_layer #blog_wrapper #site_content_wrapper #home_second_row .testimonial p {
  font-family: Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 12px;
  color: #777777;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row .testimonial p strong, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row .testimonial p strong, #background_layer #blog_wrapper #site_content_wrapper #home_second_row .testimonial p strong {
  display: block;
  padding: 5px 0 0 0;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row a.testimonial_more, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row a.testimonial_more, #background_layer #blog_wrapper #site_content_wrapper #home_second_row a.testimonial_more {
  clear: both;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #0e7fc7;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 0 10px;
  padding: 2px 5px 2px 5px;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row a.testimonial_more:hover, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row a.testimonial_more:hover, #background_layer #blog_wrapper #site_content_wrapper #home_second_row a.testimonial_more:hover {
  background-color: #dddddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_list,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_list,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_list,
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list {
  font-size: 11px;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_list h3,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_list h3,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_list h3,
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list h3,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list h3,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list h3 {
  text-transform: uppercase;
  padding: 0 0 10px 33px;
  font-size: 12px;
  color: #666666;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_list ul,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_list ul,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_list ul,
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul {
  color: #666666;
  margin: 0 0 0 35px;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_list ul li,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_list ul li,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_list ul li,
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li,
#background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li,
#background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li {
  background-image: url(http://www.snappyseed.com/subpixel/css/../images/arrow-list_bullet.gif);
  background-position: 0 10px;
  background-repeat: no-repeat;
  list-style: none;
  padding: 5px 0 5px 13px;
  border-bottom: 1px solid #dddddd;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list h3, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list h3, #background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list h3 {
  padding: 0 0 0 23px;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul, #background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul {
  color: #666666;
  margin: 0 15px 0 25px;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li, #background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li {
  list-style: none;
  padding: 5px 0 5px 13px;
  border-bottom: none;
  margin: 10px 0 0 0;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li a, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li a, #background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li a {
  display: block;
  padding: 0 0 3px 0;
  color: #0e7fc7;
  text-decoration: none;
}
#background_layer #site_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li a:hover, #background_layer #site_content_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li a:hover, #background_layer #blog_wrapper #site_content_wrapper #home_second_row #frontpage_article_list ul li a:hover {
  text-decoration: underline;
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row, #background_layer #blog_wrapper #site_content_wrapper #home_third_row {
  overflow: hidden;
  height: 100%;
  padding: 20px 0 20px 0;
  border: 10px solid #dddddd;
  background-color: #fafafa;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row .column, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row .column, #background_layer #blog_wrapper #site_content_wrapper #home_third_row .column {
  width: 235px;
  float: left;
  overflow: hidden;
  display: block;
  height: 100%;
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row .column h2, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row .column h2, #background_layer #blog_wrapper #site_content_wrapper #home_third_row .column h2 {
  font-size: 13px;
  font-weight: normal;
  color: #555555;
  margin: 0 15px 0 15px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #eeeeee;
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row .column p, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row .column p, #background_layer #blog_wrapper #site_content_wrapper #home_third_row .column p {
  font-size: 11px;
  color: #555555;
  padding: 10px 15px 0 15px;
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row .column p img.icons, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row .column p img.icons, #background_layer #blog_wrapper #site_content_wrapper #home_third_row .column p img.icons {
  float: left;
  padding: 5px 15px 0 0;
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row .column a, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row .column a, #background_layer #blog_wrapper #site_content_wrapper #home_third_row .column a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  padding: 2px 0 2px 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #0e7fc7;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#background_layer #site_wrapper #site_content_wrapper #home_third_row .column a:hover, #background_layer #site_content_wrapper #site_content_wrapper #home_third_row .column a:hover, #background_layer #blog_wrapper #site_content_wrapper #home_third_row .column a:hover {
  text-decoration: underline;
}
.column_50 {
  width: 50%;
  float: left;
  overflow: hidden;
  height: 100%;
}
#footer {
  clear: both;
  margin: 50px 0 0 0;
  overflow: hidden;
  height: 100%;
  background-color: #151515;
  border-top: 5px solid #aaaaaa;
}
#footer #footer_content {
  clear: both;
  width: 960px;
  margin: auto;
  overflow: hidden;
  height: 100%;
}
#footer #footer_content #left_column {
  width: 700px;
  float: left;
  padding: 30px 0 0 0;
}
#footer #footer_content #left_column h4 {
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
  padding: 4px 10px 4px 10px;
  margin: 0 20px 0 0;
  background-color: #222222;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
#footer #footer_content #left_column ul {
  padding: 5px 0 0 0;
  font-size: 11px;
  color: #777777;
}
#footer #footer_content #left_column ul li {
  list-style: none;
  padding: 5px 20px 5px 10px;
}
#footer #footer_content #left_column ul li strong {
  color: #888888;
}
#footer #footer_content #left_column ul li a {
  color: #777777;
  text-decoration: none;
}
#footer #footer_content #left_column ul li a:hover {
  color: #ffffff;
}
#footer #footer_content #right_column {
  width: 260px;
  float: left;
}
#footer #footer_content #right_column #twitter {
  padding: 30px 0 0 0;
}
#footer #footer_content #right_column #twitter img {
  padding: 0 0 0 5px;
}
#footer #footer_content #right_column #twitter ul {
  font-size: 11px;
  color: #888888;
}
#footer #footer_content #right_column #twitter ul li {
  list-style: none;
  border-bottom: 1px dotted #444444;
  padding: 10px 5px 10px 5px;
}
#footer #footer_content #right_column #twitter ul li a {
  color: #bbbbbb;
  text-decoration: none;
}
#footer #footer_content #right_column #twitter ul li a:hover {
  color: #ffffff;
}
#footer #footer_copyright {
  width: 960px;
  margin: auto;
  font-size: 10px;
  color: #666666;
  padding: 50px 0 20px 0;
  text-align: center;
}
#footer #footer_copyright a {
  text-decoration: none;
  color: #888888;
}
#footer #footer_copyright a:hover {
  color: #ffffff;
}
form#generic_form, form#member_form {
  border-top: 1px dashed #ffffff;
  margin: 0 30px 0 0;
  clear: both;
  overflow: auto;
  height: 100%;
  display: block;
}
form#generic_form fieldset, form#member_form fieldset {
  border: 1px dotted #d0d0d0;
  width: 750px;
  background-color: #e9e9e9;
  height: 100%;
  padding: 20px 0 20px 0;
  margin: 30px 0 10px 0;
  display: block;
  clear: both;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
form#generic_form fieldset legend, form#member_form fieldset legend {
  -moz-text-shadow: 1px 1px 1px #ffffff;
  -webkit-text-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 5px 10px 5px 10px;
  margin: 0 0 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  background-color: #eeeeee;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  border: 1px solid #d0d0d0;
}
form#generic_form fieldset.blog, form#member_form fieldset.blog {
  width: 720px;
}
form#generic_form fieldset.blog label, form#member_form fieldset.blog label {
  width: 220px;
}
form#generic_form label, form#member_form label {
  clear: both;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  width: 250px;
  padding: 7px 10px 0 0;
  text-align: right;
  float: left;
}
form#generic_form label em, form#member_form label em {
  color: #ff0000;
  font-style: normal;
  font-weight: normal;
}
form#generic_form input.text_input,
form#member_form input.text_input,
form#generic_form textarea,
form#member_form textarea {
  float: left;
  width: 448px;
  margin: 0;
  border: 1px solid #dddddd;
  padding: 5px 10px 5px 10px;
  background-color: #f5f5f5;
  color: #777777;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
}
form#generic_form input.medium, form#member_form input.medium {
  width: 220px;
}
form#generic_form input.short, form#member_form input.short {
  width: 70px;
}
form#generic_form textarea, form#member_form textarea {
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
form#generic_form textarea.small, form#member_form textarea.small {
  width: 200px;
  height: 100px;
}
form#generic_form input.submit_button, form#member_form input.submit_button {
  clear: both;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  padding: 10px 15px 10px 15px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  text-transform: uppercase;
  color: #444444;
  cursor: pointer;
  float: right;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  margin: 10px 20px 0 0;
}
form#generic_form input.checkbox_input, form#member_form input.checkbox_input {
  margin: 8px 300px 0 6px;
  padding: 0;
  line-height: 1;
  float: left;
  height: 14px;
}
form#generic_form input.radio_input, form#member_form input.radio_input {
  line-height: 1;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  height: 14px;
}
form#generic_form select, form#member_form select {
  margin: 4px 0 0 0;
}
form#generic_form .options_container, form#member_form .options_container {
  width: 465px;
  font-size: 12px;
  color: #666666;
  display: block;
  float: left;
}
form#generic_form .options_container .option_field_container, form#member_form .options_container .option_field_container {
  clear: both;
  overflow: hidden;
  height: 100%;
  padding: 8px 0 8px 5px;
  margin: 0 0 5px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(http://www.snappyseed.com/subpixel/scripts/PIE.htc);
  border: 1px solid #dddddd;
  background-color: #e5e5e5;
}
form#generic_form .options_container .option_field_container:hover, form#member_form .options_container .option_field_container:hover {
  background-color: #e0e0e0;
}
form#generic_form .options_container .option_field_container label, form#member_form .options_container .option_field_container label {
  width: 425px;
  float: left;
  display: block;
  font-weight: normal;
  text-align: left;
  clear: none;
  margin: 0;
  padding: 0 0 0 5px;
  line-height: 1;
  overflow: hidden;
  height: 100%;
}
form#generic_form .options_container .option_field_container input.checkbox_input, form#member_form .options_container .option_field_container input.checkbox_input {
  margin: 0;
  padding: 0;
}
form#generic_form .field_container, form#member_form .field_container {
  clear: both;
  margin: 10px 0 0 0;
  padding: 0;
  overflow: hidden;
  display: block;
  height: 100%;
}
form#member_form {
  clear: both;
}
